<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiao.covids.mapper.AreaWithVariousDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiao.covids.entity.AreaWithVariousData">
        <result column="areaname" property="areaname" />
        <result column="cityrate" property="cityrate" />
        <result column="gdp" property="gdp" />
        <result column="doctor" property="doctor" />
        <result column="students" property="students" />
    </resultMap>

</mapper>
