<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiao.covids.mapper.ChinaTwomonthsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiao.covids.entity.ChinaTwomonths">
        <result column="yeardate" property="yeardate" />
        <result column="importedCase" property="importedCase" />
        <result column="healRate" property="healRate" />
        <result column="deadRate" property="deadRate" />
        <result column="confirm" property="confirm" />
        <result column="suspect" property="suspect" />
        <result column="heal" property="heal" />
        <result column="dead" property="dead" />
        <result column="nowSevere" property="nowSevere" />
        <result column="noInfect" property="noInfect" />
        <result column="localConfirm" property="localConfirm" />
        <result column="noInfectH5" property="noInfectH5" />
        <result column="localConfirmH5" property="localConfirmH5" />
        <result column="local_acc_confirm" property="localAccConfirm" />
        <result column="nowConfirm" property="nowConfirm" />
    </resultMap>

</mapper>
