<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiao.covids.mapper.QqNewsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiao.covids.entity.QqNews">
        <result column="title" property="title" />
        <result column="publish_time" property="publishTime" />
        <result column="news_url" property="newsUrl" />
        <result column="srcfrom" property="srcfrom" />
        <result column="shortcut" property="shortcut" />
        <result column="cms_id" property="cmsId" />
    </resultMap>

</mapper>
